*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
 margin-right: 30px!important;
}

.nav-section {
    justify-content: space-between !important;
    padding: 35px !important;
text-align: center !important;

}

.bg-secondary {
    background-color: #B1A29D!important;
}

.footer-section {
    border: 1px solid white !important;
    border-radius: 0 0px 55px 55px !important;
    background-color: white !important;
    
}

.btn btn-outline-dark {
    display: block !important;
}

#watch-video {
    text-decoration: none !important;
    display: block !;
    margin-left: auto !important;
}